@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(126deg, rgba(2,0,36,1) 0%, rgba(73,221,177,1) 0%, rgba(0,178,214,1) 88%);
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

.container{
    width: 40%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 14px;
    min-height: 200px;
}

.container h1{
    color: white;
}

.input-container{
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: space-between;
    margin: auto;
    border-radius: 25px;
    align-items: center;
    margin-bottom: 40px;
}

#taskInput{
    width: 70%;
    background-color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 14px;
    outline: none;
    font-size: large;
}

#taskInput:focus{
    border: 3px solid #00e3a0;
}

#addTask{
    border: none;
    background-color: #00e3a0;
    cursor: pointer;
    border-radius: 14px;
    height: 100%;
    width: 20%;
    font-size: large;
}

.input-container input::placeholder{
    color: black;
    font-size: larger;
}

#taskList{
    margin-bottom: 30px;
    box-sizing: border-box;
}

#alert-message{
    color: red;
}

.sub-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.716);
    color: black;
    height: 35px;
    align-items: center;
    margin: 10px auto;
    border-radius: 14px;
}

.text-data {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    text-align: start;
    outline: none;
}


.delete-button{
    background: none;
    border: none;
    color: red;
    font-weight: 600;
    cursor: pointer;
    padding-right: 15px;
}
